<%- include('./partials/header') %>
<div class="w-full h-screen flex items-start px-20 py-20 gap-10 bg-white"> <!-- Changed to bg-white -->
    <div class="w-[30%] rounded-md overflow-hidden">
        <div class="w-full h-80 flex justify-center items-center bg-gray-200"> <!-- Changed to bg-gray-200 -->
            <img class="h-[20rem]" src="data:image/jpeg;base64,<%= user.cart[0].image.toString('base64')  %> " alt="">
        </div>
        <div class="w-full flex justify-between px-5 py-4 text-white bg-[#888]"> <!-- Changed to bg-gray-200 -->
            <h3 class="text-2xl ">Clinge Bag</h3> <!-- Changed to text-black -->
            <div class="flex items-center gap-2">
                <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-add-line" style="color: black;"></i>
                <div class="px-2 py-1 rounded-md bg-white text-black">01</div>
                <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-subtract-line" style="color: black;"></i>
            </div>
        </div>
        <div class="flex items-center justify-between px-5 py-3 text-white bg-[#333]"> <!-- Changed to bg-gray-200 -->
            <h4 class="text-lg ">Net Total</h4> <!-- Changed to text-black -->
            <h2 class="text-lg ">₹ <%= bill %></h2> <!-- Changed to text-black -->
        </div>
    </div>
    <div class="w-[70%]">
        <h3 class="text-xl text-black">Price Breakdown</h3> <!-- Changed to text-black -->
        <div class="px-10 mt-5">
            <div class="flex mt-2">
                <h4 class="w-1/3 text-black">Total MRP</h4> <!-- Changed to text-black -->
                <h4 class="text-black">₹ <%= user.cart[0].price %></h4> <!-- Changed to text-black -->
            </div>
            <div class="flex mt-2">
                <h4 class="w-1/3 text-black">Discount on MRP</h4> <!-- Changed to text-black -->
                <h4 class="text-black">₹ <%= Number(user.cart[0].discount) %></h4> <!-- Changed to text-black -->
            </div>
            <div class="flex mt-2">
                <h4 class="w-1/3 text-black">Platform Fee</h4> <!-- Changed to text-black -->
                <h4 class="text-black">₹ 20</h4> <!-- Changed to text-black -->
            </div>
            <div class="flex mt-2">
                <h4 class="w-1/3 text-black">Shipping Fee</h4> <!-- Changed to text-black -->
                <h4 class="text-black">FREE</h4> <!-- Changed to text-black -->
            </div>
        </div>
        <div class="w-full h-[1px] bg-black mt-10"></div>
        <div class="flex mt-5">
            <h3 class="w-1/3 text-xl text-black">Total Amount</h3> <!-- Changed to text-black -->
            <h3 class="font-semibold text-xl text-green-600">₹ <%= bill %></h3>
        </div>
        <form action=""></form>
    </div>
</div>
<%- include('./partials/footer') %>
